<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<strong>Welcome to register</strong>
Unified platform for vendors and customers.
Providing service to register clients to appointments.
yeah
<form method="post" th:action="@{/register}">
    <label for="name">Name:</label>
    <input id="name" name="name" type="text">
    <label for="email">Email:</label>
    <input id="email" name="email" type="text">
    <label for="password">Password:</label>
    <input id="password" placeholder="password" type="password">
    <input type="submit" value="Register">
</form>
</body>
</html>
